/* Estilo grid */

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td{
    border: 1px solid rgb(229, 228, 228);
    padding: 8px;
    text-align: left;
}

th{
    background-color:rgb(160, 200, 245);
    color: black; 
}

ul{
    list-style: none;
    padding: 0%;
}

li{
    margin-bottom: 10px;
}

/* Estilo para el contenedor del formulario */
#form-prod {
    width: 300px;
    margin: 20px; 
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
    text-align: left;
}


label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
